<html>
<head>
{% block assets %}{% endblock %}
{% block javascript %}{% endblock %}
</head>

<body>
  <!--Header-->
  {% block inHeader %}{% if username %}
  <a href='/'> Home </a>
  <p> You are <a href='/profile/{{ username }}'>{{ username }}</a>!? </p>
	<a href='/posting/'> Post a dream! </a>
  {% endif %}{% endblock %}

  {% block outHeader %}{% if not username %}
  <p> <a href='/login/'> Login </a> or <a href='register/'> Register </a> to track your dreams! </p>
  {% endif %}{% endblock %}

  <!--Content-->

  {% block inContent %}
  {% endblock %}

  {% block outContent %}
  {% endblock %}

  {% if users %}{% block usersTitle %}<h3>Recent Users</h3>{% endblock %}{% endif %}

  {% block userz %}
    {% for user in users %}
      <p><a href='profile/{{ user.username }}'> {{ user.username }} </a></p>
    {% endfor %}
  {% endblock %}


  {$ if posts %}{% block poststitle %}<h3>Recent Post</h3>{% endblock %}{% endif %}

  {% block postz %}
    {% for post in posts %}
       <h3> Title: <a href="{{ post.id }}" >{{ post.title }} </a></h3>
       <p> Content: {{ post.content }} </p>
       <p> created date: {{ post.created }} </p>
       <p> created by: {{ post.user }} </p>
    {% endfor %}
  {% endblock %}

  <!--Footer-->
  {% block inFooter %}{% if username %}
  <a href='/logout/'> Logout </a>
  {% endif %}{% endblock %}

  {% block outFotter %}{% if not username %}
  <a href='/about/'> About </a>
  {% endif %}{% endblock %}

</body>
</html>
