<html>

<head>
{% block assets %}
{% endblock %}
</head>

</body>
{% block header %}
    {% block inHeader %}
        {% if username %}
        <a href='/'> Home </a>
        <p> You are <a href='/profile/{{ username }}'>{{ username }}</a>!? </p>
	<a href='/posting/'> Post a dream! </a>
        {% endif %}
    {% endblock %}
    {% block outHeader %}
       {% if not username %}
         <p> <a href='/login/'> Login </a> or <a href='register/'> Register </a> to track your dreams! </p>
       {% endif %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block inContent %}
        {% if username %}
        <p> You are <a href='/profile/{{ username }}'>{{ username }}</a>!? </p>
    {% endif %}
    {% endblock %}
    {% if not username %}
        {% block outContent %}
        {% endblock %}
    {% endif %}

{% endblock %}

{% block footer %}
    {% if username %}
        <a href='/logout/'> Logout </a>
    {% endif %}
    <a href='/about/'> About </a>
{% endblock %}
</body>
</html>
