{% extends "base.html" %}

{% block inContent %}{% if inGuy %}
<form method='post' action='' value='add'>
  {% csrf_token %}
  <p>Title</p>
  <input type='text' class="text" name='title' value='{{ post.title }}' {% if titleError %}class="titleError"{% endif %}><br/>
  <p>Content</p>
  <textarea class="text" rows='10' cols='30' name='content' {% if contentError %}class="contentError"{% endif %} >{{ post.content }} </textarea><br/>
  <a>Public?</a>
  <input type='checkbox' name='public' {% if not post.public %}checked{% endif %}/>
  <input type='submit' class="button">
</form>
{% endif %}{% endblock %}
