{% extends "base.html" %}


{% block inHeader %}{% if username %}
<a href='/'> Home </a>
<p> You are <a href='/profile/{{ username }}'>{{ username }}</a>!? </p>
{% endif %}{% endblock %}

{% block outHeader %}{% if not username %}
<p> You must <a href='/login/'> Login </a> or <a href='/register/'> Register </a> before you can post dreams! </p>
{% endif %}{% endblock %}

{% block inContent %}{% if username %}
<form method='post' action='' value='add'>
  {% csrf_token %}
  <p>Title</p>
  <input type='text' name='title'><br/>
  <p>Content</p>
  <textarea rows='10' cols='30' name='content'></textarea><br/>
  <a>Public?</a>
  <input type='checkbox' name='public' checked/>
  <input type='submit'>
</form>
{% endif %}{% endblock %}
