{% extends "base.html" %}

{% block userTitle %}{% endblock %}
{% block userz %}{% endblock %}
{% block poststitle %}{% endblock %}

{% block postz %}
{{ block.super }}
{% if inGuy != post.user.username %} 
<form method='post' action='' value='add'>
    {% csrf_token %}
    <input type='submit' value='like{% if liked %}d' disabled='disabled{% endif %}'>
</form>
{% endif %}
{% if inGuy == post.user.username %} <a href="delete/"> Delete Post</a> <a href="edit/"> Edit Post </a> {% endif %}
{% endblock %}
